.navbar {
    background-color: $naranjita;
}

.hero {
    background-image: url("/img/imagen\ de\ fondo.jpg");
    background-color: $negrito;
    height: 90vh;
    background-position: center;
    background-size: cover;
}

.btn{
    background-color: $naranjita;
    border-color: $negrito;
}

footer {
    background-color: $naranjita;
}